<ion-view >

    <ion-nav-title>
      <img src="img/logo.png" width="40dp" height="40dp">
    </ion-nav-title>

  <ion-content class="padding">

  <!-- To notify the events count   -->
  <div class="card">
        <div class="item item-divider">
        <CENTER>{{upcomingData.length}} Upcoming Hackathons</CENTER>
        </div>
  </div>

<div ng-repeat="hackathon in upcomingData">

<!-- Card template-->
  <div class="list card">
      <div class="item item-image">
        <img src="{{hackathon.cover}}">
      </div>
      <ion-item class="item-text-wrap">
        <a class="item item-icon-left" href="#">
          <STRONG class= "positive" style="font-size: 25px; font-weight: bold;">{{hackathon.Name}}</STRONG><br>
          <i class="ion-ios-location"> &nbsp; {{hackathon.location}}</i><br>

        <div class="count-down-timer">
                <my-directive myindex=""></my-directive>
        </div>
        </a>
      </ion-item>

      <div class="item item-divider">
         <i class="ion-android-calendar"> &nbsp;{{hackathon.date}}</i>
         <i class="ion-eye position-right"> &nbsp;{{hackathon.views}}</i>
     </div>
  </div>  

</div>
  </ion-content>
</ion-view>
