<ion-view view-title="Ended">
  <ion-content>
    <ion-list>

      <!-- To notify the events count   -->
  <div class="card">
        <div class="item item-divider">
        <CENTER>2 Evetns are ended</CENTER>
        </div>
  </div>

     
     <!-- First Card -->
   <div class="list card">
      <div class="item item-image">
        <img src="../img/disrupt_hack.PNG">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class=""></i>
        <STRONG>Disrupt 2.0 – FutureX</STRONG><br>
        University of Colombo School of Computing<br>
        Hackathon Started
      </a>
</div>

<!-- Second Card -->
   <div class="list card">
      <div class="item item-image">
        <img src="../img/mora_hack.PNG">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class=""></i>
        <STRONG>Mora Hack 2016</STRONG><br>
        Dialog Axiata PLC<br>
        Hackathon Not Started
      </a>
</div>

    </ion-list>
  </ion-content>
</ion-view>
