<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Event Listing</h2>
    <p>

<!-- First Card -->
   <div class="list card">
      <div class="item item-image">
        <img src="../img/disrupt_hack.PNG">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class=""></i>
        <STRONG>Disrupt 2.0 – FutureX</STRONG><br>
        University of Colombo School of Computing<br>
        Hackathon Started
      </a>
</div>

<!-- Second Card -->
   <div class="list card">
      <div class="item item-image">
        <img src="../img/mora_hack.PNG">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class=""></i>
        <STRONG>Mora Hack 2016</STRONG><br>
        Dialog Axiata PLC<br>
        Hackathon Not Started
      </a>
</div>
    </p>
  </ion-content>
</ion-view>
