<ion-view >

    <ion-nav-title>
      <img src="img/logo.png" width="40dp" height="40dp">
    </ion-nav-title>

<!-- <ion-nav-bar class="bar nav-bar-color" ></ion-nav-bar> -->
  <ion-content class="padding">

  <!-- To notify the events count   -->
  <div class="card">
        <div class="item item-divider">
        <CENTER>10 Upcoming Hackathons</CENTER>
        </div>
  </div>


<!-- First Card -->
   <div class="list card">
      <div class="item item-image">
        <img src="../img/disrupt_hack.PNG">
      </div>

      <a class="item item-icon-left" href="#">
        <STRONG class= "positive">{{upcomingData.Name}}</STRONG><br>
        <i class="ion-ios-location"> &nbsp; {{upcomingData.location}}</i>
        <br>
        {{upcomingData.status}}

      </a>

      <div class="item item-divider">
     <i class="ion-android-calendar"> &nbsp;NOVEMBER 3RD, 2016</i>
     <i class="ion-eye position-right"> &nbsp;212</i>

     </div>


</div>

<!-- Second Card -->
   <div class="list card">
      <div class="item item-image">
        <img src="../img/mora_hack.PNG">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class=""></i>
        <STRONG>Mora Hack 2016</STRONG><br>
        Dialog Axiata PLC<br>
        Hackathon Not Started
      </a>
</div>
    </p>
  </ion-content>
</ion-view>
