/*To align the view element to the right*/
.position-right {
    position: absolute;
    right: 0px;
  	margin-right: 5px;
}

/*color to change the nav bar*/

.nav-bar-color{
	background: #3B5998 !important
}