/*To align the view element to the right*/
.position-right {
    position: absolute;
    right: 0px;
  	margin-right: 5px;
}

/*color to change the nav bar*/

.nav-bar-color{
	background: #3B5998 !important
}

/*Text Wrapper*/
.item-text-wrap {
    /*width: 33.33%;*/
    text-align: center;
}

.item-icon-left {
    padding-left: 0px;
}


.tabs-icon-top .tab {
    color: red;
}


/*Styling for the countdowner*/
.count-down-timer{
	display: inline-block;
    position: relative;
}

.countdown-days{
		 display: inherit;
}

.dayss{
	position: absolute;
	margin-top: 10px;
}

